div{
    border-width: 50px;
    border: 1px solid red;
    margin: 20px;
}

.task{
    background-color: red;
}

.task2{
    text-align: center;
    
}

.task2 img{
    width: 20px;
    height: 20px;
    padding: 20px 5px 14px 5px;
}

p{
    color: yellow;
}